.odd-elements {
    /* Changed rgb values to match solution */
    background-color: rgb(255, 167, 177);
    /* Added "" to DejaVu Sans to match solution */
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#second-element {
    color: #0000ff;
    font-size: 36px;
}

/* Changed selectors to match changes made to Number 3/4 in index.html */
.adjust-font-size {
    font-size: 24px;
}

#fourth-element {
    /* Changed hsl values to match solution */
    background-color: hsl(120, 100%, 75%);
    font-weight: bold;
}